@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px; /* Adjust width for a slim, material design */
}

*::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray background for a subtle look */
}

*::-webkit-scrollbar-thumb {
  background-color: #4285f4; /* Google blue color */
  border-radius: 10px; /* Rounded thumb for a smooth, modern appearance */
  border: 2px solid #dfe1e5; /* Slightly darker border for depth */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #34a853; /* Greenish color on hover for interactive feedback */
}

.chatbot-container {
  width: 150px;
}

.chatbot-container-text {
  @media (max-width: 768px) {
    display: none;
  }
}

/* Default styling for mobile */
.container {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 10% !important;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 14px;
  margin: 0 auto;
}

/* Breakpoint for tablets (768px and above) */
@media (min-width: 768px) {
  .container {
    font-size: 16px;
    padding: 40px;
    gap: 20px;
  }
}

/* Breakpoint for desktops (1024px and above) */
@media (min-width: 1024px) {
  .container {
    font-size: 18px;
    padding: 60px;
    gap: 30px;
  }
}

/* //chatbot  */
